.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;

  input[type='checkbox'] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 0.5rem;

    &:is(:focus, :hover, :active) + label {
      text-decoration: underline;
    }
  }

  label {
    font-size: 0.75rem;
    flex-grow: 1;
    font-weight: 600;
  }

  svg {
    width: 32px;
    height: 32px;
    color: steelblue;
    cursor: pointer;

    &:is(:focus, :hover, :active) {
      color: red;
    }
  }
}
